/* 
  L'étoile peut être utilisé sur une petite application comme ici
  pour régler certaines propriétés telles le box sizing
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* Le background white simple est le recours pour les navigateurs ne comprennant pas de gradient */
  background: white;
  background: radial-gradient(circle, #f2f2f2 20%, #333d47);
  background-size: cover;
  color: #6cacc5;
  /* Ici, comprendre : font-weight font-size/line-height font-family, font-family (de secours)  */
  font: 300 18px/1.6 "Source Sans Pro", sans-serif;
  height: 100vh;
  /* Le text-align me permet un alignement du texte qui se transmettra à tous les enfants */
  text-align: center;
  width: 100vw;
}

#wrapper {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  width: inherit;
}

#calculator {
    background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
    border-radius: .2em;
    box-shadow: 2px 4px #009de4, 5px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 28px;
    margin: 0 auto;
    padding: 1em;
    width: 15em;
}    

.row {
    display: flex;
}

.button, #viewer {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: black;
    cursor: default;
    margin: .4rem .3rem;
    padding: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2); 
    width: 4em;
}

.button:active {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);
}

#reset {
    background: #ff9a75;
    box-shadow: 0px 4px #e86130;
    width: 3em;
}

#reset:active {
    background: #e86130;
    box-shadow: inset 0px 4px #933e1f;
    transform: translateY(3px);
}

#viewer {
    background: #6cacc5;
    box-shadow: inset 2px 4px rgba(0, 0, 0, 0.2);
    color: ghostwhite;
    flex-grow: 1;
    font-weight: bolder;
    overflow: hidden;
}

#viewer.error {
    background: hsl(0, 70%, 51%);
    box-shadow: inset 4px 6px rgba(0, 0, 0, 0.2);
    letter-spacing: -1px;
    font-kerning: none;
    font-weight: bold;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}